<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Angola Api</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/icons/site.webmanifest" />
    <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#5bbad5" />
    <link rel="shortcut icon" href="/icons/favicon.ico" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-config" content="/icons/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <style>
      a {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #000;
      }
      a img {
        width: 60vw;
      }
      a div {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <a href="https://github.com/Angola-Api/Angola-Api">
      <img
        src="/icons/logo.png"
      />
      <div>
        <p>
          <strong>Vamos transformar Angola em uma API?</strong>
          <br />
          <label>
            Mergulhe conosco nessa jornada, clicando na tela !!</label
          >
        </p>
      </div>
    </a>
  </body>
</html>
